* {
	font-family: helvetica;
}

body {
	margin: 0;
}

#map {
	height: 100%;
	z-index: 0;
}

.container {
	height: 100vh;
}

.sidebar {
	z-index: 1;
	width: 25%;
	height: 100%;
	position: absolute;
	transition: transform 0.4s ease;
	display: flex;
	justify-content: center;
}

.closed {
	transform: translate(-100%, 0);
}

.open {
	transform: translate(0, 0);
}

#sidebar-content {
	background-color: rgba(173, 190, 230, 0.5);
	height: 100%;
	width: 100%;
	color: #960000;
}

.search-button {
	display: block;
	width: 100%;
	text-align: center;
	color: inherit;
	background-color: rgba(173, 190, 230, 0.6);
	font-size: 1em;
	border: 0;
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
}

.search-button:hover {
	background-color: rgba(173, 190, 230, 0.8);
	cursor: pointer;
}

#sidebar-button {
	color: #ff4b00;
	position: fixed;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

*:focus {
	outline: none;
}

#sidebar-button:hover {
	cursor: pointer;
}

.credit-button {
	padding: 0;
	margin: 0;
	color: white;
	position: fixed;
	bottom: 5px;
	right: 10px;
}

.credit-button:hover {
	color: lightblue;
	cursor: pointer;
}

.drawing-pointer {
	color: #ff4b00;
	position: fixed;
	width: 100%;
	bottom: 40px;
	text-align: center;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	z-index: 1;
}

#pano {
	width: 350px;
	height: 350px;
}